<div class="container pt-5 pb-5">
  <h2 class="text-center page-heading pb-5">Contact</h2>
  <div class="col-6 text-center">
    <div class="row m-4 mt-5">
      <div class="col">
        <%= link_to (image_tag 'facebook.png', class: "contact-pg-icons"), 'https://www.facebook.com/underdogartstudio/', target: '_blank' %>
      </div>
      <div class="col">
        <%= link_to 'facebook', 'https://www.facebook.com/underdogartstudio/', target: '_blank', class: 'contact-pg-text' %>
      </div>
    </div>    
    <div class="row m-4 mt-5">
      <div class="col">
        <%= link_to (image_tag 'instagram.png', class: "contact-pg-icons"), 'https://www.instagram.com/underdog_art_studio/', target: '_blank' %>
      </div>
      <div class="col">
        <%= link_to 'instagram', 'https://www.instagram.com/underdog_art_studio/', target: '_blank', class: 'contact-pg-text' %>
      </div>
    </div>    
    <div class="row m-4 mt-5">
      <div class="col">
        <%= link_to (image_tag 'youtube.png', class: "contact-pg-icons"), 'https://www.youtube.com/channel/UCTjz-c10dW5BgrGHF8j-5jQ', target: '_blank' %>
      </div>
      <div class="col">
        <%= link_to 'youtube', 'https://www.youtube.com/channel/UCTjz-c10dW5BgrGHF8j-5jQ', target: '_blank', class: 'contact-pg-text' %>
      </div>
    </div>
  </div>
</div>