<!-- MINIMUM WIDTH HEADER -->

<div class="header-minimum">
  <div class="col">




    <div class="row">
      <div class="col pad-zero">
        <nav class="navbar navbar-expand-lg navbar-dark text-center bg-blue mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav width-full d-flex justify-content-around">
              <li class="nav-item">
                <%= link_to 'Prints', '/prints', class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Shirts', '/shirts', class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Stickers', '/stickers', class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'About', '/about', class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Contact', '/contact', class: "nav-link" %>
              </li>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>



    <div class="row">
      <div class="col-12 text-center">
        <%= image_tag 'underdog_logo.png', class: "logo-header-sm  mb-3" %>
      </div>

      <div class="col-12 d-flex flex-column">
        <p class="font-satisfy tagline-small text-center mt-auto">Colourful art for colourful people</p>
      </div>

      <div class="col-12">
        <div class="row m-4 text-center">
          <div class="col">
            <%= link_to (image_tag 'facebook.png', class: "social-icon-sm"), 'https://www.facebook.com/underdogartstudio/', target: '_blank' %>
          </div>
          <div class="col">
            <%= link_to (image_tag 'instagram.png', class: "social-icon-sm"), 'https://www.instagram.com/underdog_art_studio/', target: '_blank' %>
          </div>
          <div class="col">
            <%= link_to (image_tag 'youtube.png', class: "social-icon-sm"), 'https://www.youtube.com/channel/UCTjz-c10dW5BgrGHF8j-5jQ', target: '_blank' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- MEDIUM WIDTH HEADER -->

<div class="header-medium">
  <div class="col">




    <div class="row">
      <div class="col pad-zero">
        <nav class="navbar navbar-expand-lg navbar-dark text-center bg-blue mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMed" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavMed">
            <div class="navbar-nav width-full d-flex justify-content-around">
              <li class="nav-item">
                <%= link_to 'Prints', '/prints', class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Shirts', '/shirts', class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Stickers', '/stickers', class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'About', '/about', class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Contact', '/contact', class: "nav-link" %>
              </li>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>



    <div class="row">
      <div class="col-6 text-center">
        <%= image_tag 'underdog_logo.png', class: "logo-header  mb-3" %>
      </div>



      <div class="col-6 text-center d-flex flex-column">
        <div class="row m-4 justify-content-center mt-5">
        <div class="col-3">
          <%= link_to (image_tag 'facebook.png', class: "social-icon-sm"), 'https://www.facebook.com/underdogartstudio/', target: '_blank' %>
        </div>
        <div class="col-3">
          <%= link_to (image_tag 'instagram.png', class: "social-icon-sm"), 'https://www.instagram.com/underdog_art_studio/', target: '_blank' %>
        </div>
        <div class="col-3">
          <%= link_to (image_tag 'youtube.png', class: "social-icon-sm"), 'https://www.youtube.com/channel/UCTjz-c10dW5BgrGHF8j-5jQ', target: '_blank' %>
        </div>
        </div>
        <div class="row mt-auto pb-4 mb-4">
          <div class="col-12">
            <p class="font-satisfy tagline-small text-center">Colourful art for colourful people</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>






<!-- LARGEST WIDTH HEADER -->

<div class="container-fluid mt-4 header-large">
  <div class="col">
    <div class="row">
      <div class="col-7 d-flex flex-column">

        <p class="font-satisfy tagline text-center mt-auto">Colourful art for colourful people</p>
      </div>
      <div class="col-4 text-center">
        <%= image_tag 'underdog_logo.png', class: "logo-header" %>
      </div>
      <div class="col-1">
        <div class="row mt-4">
          <div class="col">
            <%= link_to (image_tag 'facebook.png', class: "social-icon-sm"), 'https://www.facebook.com/underdogartstudio/', target: '_blank' %>            
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <%= link_to (image_tag 'instagram.png', class: "social-icon-sm"), 'https://www.instagram.com/underdog_art_studio/', target: '_blank' %>            
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <%= link_to (image_tag 'youtube.png', class: "social-icon-sm"), 'https://www.youtube.com/channel/UCTjz-c10dW5BgrGHF8j-5jQ', target: '_blank' %>
          </div>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark text-center bg-blue mt-3 mb-5">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav width-full d-flex justify-content-around">
              <li class="nav-item">
                <%= link_to 'Prints', '/prints', class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Shirts', '/shirts', class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Stickers', 'stickers', class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'About', '/about', class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Contact', '/contact', class: "nav-link" %>
              </li>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
